
<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-table"></i>Students
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-advance table-hover">
                    <thead>
                        <tr>
                            <th>
                                <i class="fa fa-briefcase"></i> First Name
                            </th>
                            <th class="hidden-xs">
                                <i class="fa fa-briefcase"></i> Middle Name
                            </th>
                            <th>
                                <i class="fa fa-briefcase"></i> Last Name
                            </th>
                            <th class="hidden-xs">
                                <i class="fa fa-envelope-o"></i> Email
                            </th>
                            <th>
                                <i class="fa fa-graduation-cap"></i> School
                            </th>
                            <th>
                                <i class="fa fa-graduation-cap"></i> Class
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                John
                            </td>
                            <td class="hidden-xs">
                                Freaking
                            </td>
                            <td>
                                Doe
                            </td>
                            <td class="hidden-xs">
                                test@test.com
                            </td>
                            <td> NBU </td>
                            <td> 12 A </td>
                            <td>
                                <a href="@Url.Action("Info", "Student", new { userId = 1 })" class="btn dark btn-sm btn-outline sbold uppercase">
                                    <i class="fa fa-share"></i> View
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>
