@model Schools.Data.Models.School

<div class="col-sm-12">
    <div class="portlet blue-hoki box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i> School Data
            </div>
            <div class="actions">
                <a href="@Url.Action("Edit", "School", new { schoolId = Model.Id })" class="btn btn-default btn-sm">
                    <i class="fa fa-pencil"></i> Edit
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row static-info">
                <div class="col-md-5 name"> School: </div>
                <div class="col-md-7 value"> @Model.Name </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name"> Address </div>
                <div class="col-md-7 value"> @Model.Address </div>
            </div>
        </div>
    </div>
</div>