<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet box yellow">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-comments"></i>Schedule
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Monday </th>
                            <th> Tuesday </th>
                            <th> Wednesday </th>
                            <th> Thursday </th>
                            <th> Friday </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td> 1 </td>
                            <td class="active"> Math </td>
                            <td class="success"> P.E. </td>
                            <td class="warning"> History </td>
                            <td class="danger"> English </td>
                            <td class="danger"> Biology </td>
                        </tr>
                        <tr>
                            <td> 2 </td>
                            <td class="active"> Math </td>
                            <td class="success"> P.E. </td>
                            <td class="warning"> History </td>
                            <td class="danger"> English </td>
                            <td class="danger"> Biology </td>
                        </tr>
                        <tr>
                            <td> 3 </td>
                            <td class="active"> Math </td>
                            <td class="success"> P.E. </td>
                            <td class="warning"> History </td>
                            <td class="danger"> English </td>
                            <td class="danger"> Biology </td>
                        </tr>
                        <tr>
                            <td> 4 </td>
                            <td class="active"> Math </td>
                            <td class="success"> P.E. </td>
                            <td class="warning"> History </td>
                            <td class="danger"> English </td>
                            <td class="danger"> Biology </td>
                        </tr>
                        <tr>
                            <td> 5 </td>
                            <td class="active"> Math </td>
                            <td class="success"> P.E. </td>
                            <td class="warning"> History </td>
                            <td class="danger"> English </td>
                            <td class="danger"> Biology </td>
                        </tr>
                        <tr>
                            <td> 6 </td>
                            <td class="active"> Math </td>
                            <td class="success"> P.E. </td>
                            <td class="warning"> History </td>
                            <td class="danger"> English </td>
                            <td class="danger"> Biology </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>