@{
}

<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-table"></i>Students
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-advance table-hover">
                    <thead>
                        <tr>
                            <th>
                                <i class="fa fa-briefcase"></i> First Name
                            </th>
                            <th class="hidden-xs">
                                <i class="fa fa-briefcase"></i> Middle Name
                            </th>
                            <th>
                                <i class="fa fa-briefcase"></i> Last Name
                            </th>
                            <th class="hidden-xs">
                                <i class="fa fa-envelope-o"></i> Email
                            </th>
                            <th>
                                <i class="fa fa-graduation-cap"></i> School
                            </th>
                            <th>
                                <i class="fa fa-graduation-cap"></i> Class
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                John
                            </td>
                            <td class="hidden-xs">
                                Freaking
                            </td>
                            <td>
                                Doe
                            </td>
                            <td class="hidden-xs">
                                test@test.com
                            </td>
                            <td> NBU </td>
                            <td> 12 A </td>
                            <td>
                                <a href="javascript:;" class="btn dark btn-sm btn-outline sbold uppercase">
                                    <i class="fa fa-share"></i> View
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>

<div class="row">
    <div class="col-md-4">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-table"></i>Classes
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <i class="fa fa-book"></i> Name
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Math
                                </td>
                                <td>
                                    <a href="javascript:;" class="btn red btn-sm btn-outline sbold uppercase">
                                        <i class="fa fa-trash"></i> remove
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>

    <!-- ADD CLASS -->
    <div class="col-md-8">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add Class
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal">
                    <div class="form-body">

                        <div class="form-group">
                            <label class="col-md-3 control-label">Teacher</label>
                            <div class="col-md-4">
                                <select class="form-control">
                                    <option>Math</option>
                                    <option>PE</option>
                                    <option>History</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Submit</button>
                                <button type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>

    </div>
</div>

<!-- REGISTER/EDIT USERS -->
<div class="col-md-6">
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Register Student
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="form-horizontal">
                <div class="form-body">

                    <div class="form-group">
                        <label class="col-md-3 control-label">First Name</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Enter text">
                            <span class="help-block"> Enter user first name. </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Middle name</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Enter text">
                            <span class="help-block"> Enter user middle name. </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Last name</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Enter text">
                            <span class="help-block"> Enter user last name. </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Email Address</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="email" class="form-control" placeholder="Email Address">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Password</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="Password">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Dropdown</label>
                        <div class="col-md-4">
                            <select class="form-control">
                                <option>Administrator</option>
                                <option>Principal</option>
                                <option>Teacher</option>
                                <option>Student</option>
                                <option>Parent</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">Submit</button>
                            <button type="button" class="btn default">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>

</div>

<!-- REGISTER/EDIT USERS -->
<div class="col-md-6">
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Register Parent
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="form-horizontal">
                <div class="form-body">

                    <div class="form-group">
                        <label class="col-md-3 control-label">First Name</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Enter text">
                            <span class="help-block"> Enter user first name. </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Middle name</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Enter text">
                            <span class="help-block"> Enter user middle name. </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Last name</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Enter text">
                            <span class="help-block"> Enter user last name. </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Email Address</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="email" class="form-control" placeholder="Email Address">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Password</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="Password">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Dropdown</label>
                        <div class="col-md-4">
                            <select class="form-control">
                                <option>Administrator</option>
                                <option>Principal</option>
                                <option>Teacher</option>
                                <option>Student</option>
                                <option>Parent</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">Submit</button>
                            <button type="button" class="btn default">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>

</div>
