@model Schools.ViewModels.StudentEditViewModel

<div class="col-md-12">
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Edit Student
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form asp-controller="Student" asp-action="Edit" class="form-horizontal">
                <div class="form-body">

                    <div class="form-group">
                        <label class="col-md-3 control-label">First Name</label>
                        <div class="col-md-4">
                            <input asp-for="UserEditModel.FirstName" type="text" class="form-control" placeholder="First Name">
                            <span class="help-block"> Enter user first name. </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Middle Name</label>
                        <div class="col-md-4">
                            <input asp-for="UserEditModel.MiddleName" type="text" class="form-control" placeholder="Middle Name">
                            <span class="help-block"> Enter user middle name. </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Last Name</label>
                        <div class="col-md-4">
                            <input asp-for="UserEditModel.LastName" type="text" class="form-control" placeholder="Last Name">
                            <span class="help-block"> Enter user last name. </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">School</label>
                        <div class="col-md-4">
                            <select asp-for="NewClassId" class="form-control">
                                @foreach (var item in Model.Classes)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">Submit</button>
                            <button type="reset" class="btn default">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>

</div>