@model Schools.ViewModels.StudentBookViewModel

<div class="col-md-9">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet box yellow">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-comments"></i>Student Grades
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-bordered table-hover">
                    <thead>

                        <tr>
                            <th> Subject </th>
                            <th> Grades </th>
                        </tr>

                    </thead>
                    <tbody>

                        @foreach (var studentBook in Model.StudentBookModel)
                        {
                            <tr>
                                <td> @studentBook.SubjectName </td>
                                <td> @string.Join(", ", studentBook.StudentGrades) </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>

<div class="col-md-3">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet box yellow">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-comments"></i>Student Absences
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-bordered table-hover">
                    <thead>

                        <tr>
                            <th> Absences </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td> @Model.StudentAbsences.Sum() </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>